* {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
}

#top {
    height: 100vh;
}

header {
    text-align: center;
}

#socials {
    text-align: center;
}

img {
    margin-top: auto;
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

#foot a {
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

#foot a:link,
#foot a:hover {
    text-decoration: none;
    color: black;
}

p {
    font-size: 1.2rem;
}

#main_content {
    height: 120vh;
    background-color: antiquewhite;
    text-align: center;
    margin: 10px;
}

#main_content img {
    height: 20em;
    border-radius: 50%;
    margin: 30px;
}

#info {
    font-size: 1rem;
    font-family: 'Caladea', serif;
}

footer {
    text-align: center;
    font-family: 'Caladea', serif;
}

#foot {
    box-sizing: border-box;
    margin-top: 40px;
}

.down i {
    font-size: 7rem;
}

/* Animation CSS */
.tracking-in-contract {
    -webkit-animation: tracking-in-contract 3s ease-in-out forwards;
    animation: tracking-in-contract 3s ease-in-out forwards;
}

a {
    text-decoration: none;
    color: #000;
}

@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.4;
    }
    60%{
        opacity: 0.6;
    }
    80%{
        opacity: 0.8;
    }
    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@media (max-width=375px) {
    body {
        font-size: 7em;
    }
    p{
        font-size: 0.4em;
    }
    img {
        width: 10rem;
    }
}