* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    /* font-family: 'Satisfy', cursive; */
    color: black;
}

a.nav-link {
    text-decoration: none;
    color: black;
}

#header {
    font-size: 1.4rem;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;

}

.pfp {
    border: none;
    border-radius: 10%;
}

#footer{
    font-family: 'Merriweather', serif;
}

#certificates {
    font-family: 'Merriweather', serif;
    margin-top: 20px;
    width: 80%;
    height: 300px;
    border-radius: 21px 21px 0 0;
    
}
#Cards{

    margin: 10px;

}

/* Text animations */
.tracking-in-expand {
    animation-delay: 2s;
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.puff-in-center {
    animation-delay: 1s;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.text-focus-in {
    animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0
    }

    100% {
        filter: blur(0);
        opacity: 1
    }
}