{% include "header.html" %}

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-4">
        <img src="{{url_for('static', filename='images/Abdullah Shaikh.jpg')}}" class="pfp puff-in-center">
        <h1 class="text-body-emphasis text-focus-in"><b>Abdullah Shaikh</b></h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted tracking-in-expand ">
            Student of Computer Science Engineering specialized in Artificial Intelligence
            and Machine Learning.
        </p>
        <div class="d-inline-flex gap-2 mb-5">
        </div>
        <div id="Quote">

            <i class="fa-solid fa-quote-left" ></i>
            <div id="quote">
            </div>
            <i class="fa-light fa-wave-sine"></i>
            <div id="author">
            </div>
            <i class="fa-solid fa-quote-right" id="right"></i>
            </i>
            
            
        </div>
    </div>
</div>


{% include "footer.html" %}