{% include "header.html" %}
<div class="container">
  <main CLASS="mt-4">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Web Development</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              ₹5000*
              <br />
              <small class="text-body-secondary fw-light">
                per website
              </small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 Revisions Free <br />later ₹1000 per Revision</li>
              <li>
                Hosting as per cost of
                <br>domain cost
              </li>
              <li>Email support</li>
              <li>5 Years</li>
            </ul>
            <a href="Contact">
              <button id="button" type="button" class="btn btn-secondary">Get Quotation</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm" aria-disabled="true">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Desktop Application</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              ₹ Coming Soon <br> <small class="text-body-secondary fw-light">per Application</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Complete desktop application</li>
              <li>3 Revisions Free, <br>later ₹1000 per Revision</li>
              <li>Priority email support</li>
              <li>Help center access</li>
              <li>5 Years free support</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm" aria-disabled="true">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Freelance AI & ML work</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">
              ₹ Coming Soon <br> <small class="text-body-secondary fw-light">per Application</small>
            </h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Complete desktop application</li>
              <li>3 Revisions Free, <br>later ₹1000 per Revision</li>
              <li>Priority email support</li>
              <li>Help center access</li>
              <li>5 Years free support</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% include "footer.html" %}